body {
    background: url('/MacOS/img/bigsur-light.jpg');
}

// top menu 
.top {
    z-index: 99999;
    height: 1.5625rem;
    padding: 0 0.625rem;
    transition: all 0.3s ease;

    &__menu {
        .item {
            padding: 0 0.4375rem;

            // overflow: hidden;
            div {
                font-size: 0.78125rem;
            }

            i {
                font-size: 1.25rem;
                margin-top: 0.3125rem;
            }

            .dropdown {
                left: -5px;
                top: 100%;
                width: max-content;
                transition: .3s;
                padding: 5px;
                background: $color_light;
                border: 1px solid $color_light;
                color: $color_dark;
                font-size: 0.875rem;

                &__child {
                    padding: 3px 10px;
                    background: transparent;
                    color: $color_dark;

                    &:hover {
                        color: $color_light;
                        background: $color_hover;
                    }
                }
            }

            &:hover .dropdown {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__icons {
        .item {
            padding: 0 0.4375rem;

            // overflow: hidden;
            div {
                font-size: 0.78125rem;
            }

            i {
                font-size: 1.125rem;
                margin-top: 0.3125rem;
            }

            p {
                font-size: 0.78125rem;
            }
        }
    }
}


// dock
.dock {
    width: auto;
    height: 60px;
    border-radius: 16px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;

    .dock-container {
        padding: 10px;
        width: auto;
        height: 76px;
        border-radius: 16px;
        backdrop-filter: blur(13px);
        border: 1px solid $color_border_dock;

        li {
            list-style: none;
            width: 65px;
            height: 50px;
            padding: 0 7.5px;
            transition: 0.2s;
            transform-origin: 50% 100%;

            &:hover {}

            .name {
                top: -70px;
                background: $color_light;
                color: $color_dark;
                height: 10px;
                padding: 10px 15px;
            }

            .icon {
                transition: 0.2s;
                border-radius: 15%;
            }
        }
    }
}

@for $i from 1 through 8 {
    .li-#{$i}:hover {
        .name {
            visibility: visible !important;
        }
    }
}

// calculator
.calculator {
    width: 217px;
    top: 25%;
    left: 10%;
    padding: 6px;
    display: none;
    // transition: all 0.3s ease-out;

    &__header {
        padding: 6px;

        &__actions {
            margin-right: 20px;

            &:hover i {
                color: $color_dark;
            }

            i {
                font-size: 10px;
                padding: 2px;
                transition: all 0.3s;
                color: transparent;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        h4 {

            font-size: 13px;
            pointer-events: none;
            user-select: none;
        }
    }

    // button c -> +- square
    // td.bt_sb {
    //     background: url('/img/knopki.gif') no-repeat -804px -8px;
    // }

    // td.bt_sb:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -804px -58px;
    // }

    // td.bt_sb:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -803px -57px;
    // }

    // td.bt_st {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -653px -8px;
    // }

    // td.bt_st:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -653px -58px;
    // }

    // td.bt_st:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -652px -57px;
    // }

    // td.bt_pm {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -689px -8px;
    // }

    // td.bt_pm:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -689px -58px;
    // }

    // td.bt_pm:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -688px -57px;
    // }

    // td.bt_kr {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -727px -9px;
    // }

    // td.bt_kr:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -727px -58px;
    // }

    // td.bt_kr:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -725px -57px;
    // }

    // // button 7 8 9 /
    // td.bt_7 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -248px -7px;
    // }

    // td.bt_7:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -248px -57px;
    // }

    // td.bt_7:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -247px -56px;
    // }

    // td.bt_8 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -282px -7px;
    // }

    // td.bt_8:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -282px -57px;
    // }

    // td.bt_8:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -281px -56px;
    // }


    // td.bt_9 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -317px -7px;
    // }

    // td.bt_9:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -317px -57px;
    // }

    // td.bt_9:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -316px -56px;
    // }

    // td.bt_dl {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -561px -8px;
    // }

    // td.bt_dl:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -561px -58px;
    // }

    // td.bt_dl:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -560px -57px;
    // }


    // // button 4 5 6 *
    // td.bt_4 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -143px -7px;
    // }

    // td.bt_4:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -143px -57px;
    // }

    // td.bt_4:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -142px -56px;
    // }


    // td.bt_5:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -178px -57px;
    // }

    // td.bt_5 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -178px -7px;
    // }

    // td.bt_5:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -177px -56px;
    // }

    // td.bt_6:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -213px -57px;
    // }

    // td.bt_6 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -213px -7px;
    // }

    // td.bt_6:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -212px -56px;
    // }

    // td.bt_um:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -525px -58px;
    // }

    // td.bt_um {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -525px -8px;
    // }

    // td.bt_um:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -524px -57px;
    // }

    // // button 1 2 3 -
    // td.bt_1:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -38px -57px;
    // }

    // td.bt_1 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -38px -7px;
    // }

    // td.bt_1:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -37px -56px;
    // }

    // td.bt_2:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -73px -57px;
    // }

    // td.bt_2 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -73px -7px;
    // }

    // td.bt_2:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -72px -56px;
    // }

    // td.bt_3:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -108px -57px;
    // }

    // td.bt_3 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -108px -7px;
    // }

    // td.bt_3:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -107px -56px;
    // }

    // td.bt_mi:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -490px -58px;
    // }

    // td.bt_mi {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -490px -8px;
    // }

    // td.bt_mi:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -489px -57px;
    // }

    // // button 0 . = +
    // td.bt_0:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -3px -57px;
    // }

    // td.bt_0 {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -3px -7px;
    // }

    // td.bt_0:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -2px -56px;
    // }

    // td.bt_zp:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -349px -57px;
    // }

    // td.bt_zp {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -349px -7px;
    // }

    // td.bt_zp:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -348px -56px;
    // }

    // td.bt_rv:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -401px -58px;
    // }

    // td.bt_rv {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -401px -8px;
    // }

    // td.bt_rv:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -400px -57px;
    // }

    // td.bt_pl:hover {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -456px -58px;
    // }

    // td.bt_pl {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -456px -8px;
    // }

    // td.bt_pl:active {
    //     background: url('/MacOS/img/knopki.gif') no-repeat -455px -57px;
    // }

    #disp_out {
        font-size: 30px !important;
        height: 36px;
        width: 180px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }
}

// finder
.finder {
    // width: 400px;
    height: auto;
    top: 20%;
    left: 20%;
    display: none;
    padding: 0 50px;

    &__header {
        padding: 6px;

        &__actions {
            left: -30px;

            &:hover i {
                color: $color_dark;
            }

            i {
                font-size: 10px;
                padding: 2px;
                transition: all 0.3s;
                color: transparent;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        h4 {

            font-size: 13px;
            pointer-events: none;
            user-select: none;
        }
    }

    &__form {
        &__list {
            margin-bottom: 1rem;

            .item {
                margin-right: 1rem;
                padding: 0.5rem;

                input[type=text],
                select {
                    padding: 0.62rem;
                }

                input[type=text] {
                    width: 14rem;
                }

                input[type=submit] {
                    box-shadow: none !important;
                    border-radius: 0.4rem;
                    padding: 0.5rem;
                    width: 3.5rem;
                }
            }
        }
    }

    &__work__list {
        &__table {
            width: 100%;
            border-collapse: collapse;
            margin: 50px 0;

            &__cap {
                font-weight: bold;
            }

            tr {
                width: 100%;
                border: thin solid grey;

                th,
                td {
                    button {
                        border: none;
                        background: none;
                    }
                }

                td:last-child {
                    text-align: end;
                }
            }
        }
    }
}

.active {
    display: block;
}